@charset "UTF-8";

#all, #book, #travel, #movie, #notice {
	margin-top: 20px;
	width: 236.5px;
	height: 50px;
	border: none;
	font-weight: bold;
	font-size: 20px;
	color: gray;
	
}
}
table {
	border-collapse: collapse;
	width: 750px;
}

th, td {
	border: 1px solid silver;
}

thead th {
	background-color: silver;
}

div.page1 a {
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin-left: 10px;
	
	
}

div.page1 a:hover {
	background-color:none;
}

div.page2 {
	margin-top: 20px;
	float: left;
	margin-left: 5px;
	background-color: skyblue;
	display: inline-block;
}

div.page2 a {

	display: inline-block;
	background-color: white;
	text-decoration: none;
	width: 20px;
	
}
div.page2 a:hover{
	background-color: skyblue;
}
div.page3 a {
	margin-top: 20px;
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin-left: 10px;
	background-color: skyblue;
}

div.page3 a:hover {
	
	background-color: skyblue;
}

div.clear {
	clear: both;
}

div.search {
	margin-top: 10px;
	display: inline-block;
}
#main a{
	text-decoration: none;
	color: black;
}
#preview td{
	padding-right: 10px;
	border: none;
}
p.p{
	position:absolute;
    left:310px;
    bottom:0;
    height:80px;
    width:66%;
    background-color:#ffffcc;
}
 div.header{
   text-align:right;
   margin-right:20px;
 }


h2{
      margin-top:50px;
       margin-left:500px;
   }
ul li{
        list-style:none;
        margin-left: 450px; 
    }
.bg-info{margin-left:-20px;}
p.text-info{margin-left:450px; margin-top:20px; margin-bottom:50px;}
ul li div.id{margin-left:13px;}
ul li div.login{margin-left:70px; margin-bottom:30px;}
    
#main a:hover{
	text-decoration: none;
	color: blue;
}